/** {*/
/*    border: red 1px solid;*/
/*}*/

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
    color: #ffffff;
}

header h1 {
    font-weight: lighter;
}

header img {
    width: 100%;
}

#desc-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#desc-section > p {
    display: inline-block;
    flex: 50 1 auto;
    width: 45%;
    margin: auto;
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
    padding: 2em 2em 2em 2em;
}
#desc-section > img {
    display: inline-block;
    flex: 1 5 auto;
    width: 45%;
    margin: auto;
    text-align: justify;
    color: #ffffff;
    padding: 2em 2em 2em 2em;
}

#caracteristicas {
    background-color: #1e1a13;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 100%;
}

#caracteristicas > h2 {
    padding-top: 30px;
    margin-bottom: 50px;
    font-weight: normal;
}

#caracteristicas article {
    color: #ffffff;
    align-content: center;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

#caracteristicas > article > figure {
    display: inline-block;
    text-align: center;
}

#div-fotos {
    width: 100%;
    display: flex;
    padding: 100px 0 100px 0;
    text-align: center;
    justify-content: center;
}

#div-fotos > figure {
    display: inline-flex;
    width: 28%;
    margin: 0;
    padding: 20px;
    justify-content: center;
}

#div-fotos > figure > img {
    max-width: 100%;
    background-size: cover;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: #1e1a13;
    padding: 20px;
    color: #ffffff;
    font-weight: lighter;
}

.linkFooter {
    color: #ffffff;
    text-decoration: none;
}
