/** {*/
/*    border: red 1px solid;*/
/*}*/

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
    color: #ffffff;
}

header h1 {
    font-weight: lighter;
}

header img {
    width: 100%;
}

#desc-section {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (max-width: 600px){
    #desc-section{
        grid-template-columns: 90%;
    }
}

#desc-section > p {
    /*display: inline-block;*/
    /*flex: 50 1 auto;*/
    /*width: 45%;*/
    margin: auto;
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
    padding: 2em;
}


#desc-img {
    padding: 1em;
    max-width: 90%;
}

#caracteristicas {
    background-color: #1e1a13;
    color: #ffffff;
    text-align: center;
    height: 100%;
    width: 100%;
}

#caracteristicas > h2 {
    padding-top: 30px;
    margin-bottom: 50px;
    font-weight: normal;
}

#caracteristicas article {
    color: #ffffff;
    align-content: center;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

#caracteristicas > article > figure {
    display: inline-block;
    text-align: center;
}

#div-fotos {
    width: 100%;
    /*display: flex;*/
    text-align: center;
    justify-content: center;
}

#div-fotos > figure {
    display: inline-block;
    width: 28%;
    margin: 0;
    padding: 2em;
    justify-content: center;
}

#div-fotos > figure > img {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    justify-content: center;
}

footer {
    text-align: center;
    background-color: #1e1a13;
    padding: 2em;
    color: #ffffff;
    font-weight: lighter;
}

.linkFooter {
    color: #ffffff;
    text-decoration: none;
}
